<html>
<head>

</head>
<body>
<form method="post" action="$!{request.contextPath}/usercontroller/operate">
    <input type="hidden" name="id" value="$!{user.id}">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input name="userName" type="text" value="$!{user.userName}"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input name="password" type="text" value="$!{user.password}"></td>
        </tr>
        <tr><input type="submit" value="提交"></tr>

    </table>
</form>
</body>
</html>